[Unit]
Description=Run upgrade.service 15 minutes after boot, and then every hour.

[Timer]
OnBootSec=15min
OnUnitInactiveSec=60min
Unit=upgrade.service

[Install]
WantedBy=timers.target
